extends layout

block content
  h1= username
  h2= message
  p Current record #{wins} - #{losses} - #{ties}
  block content
  include chat.pug
  input#name.form-control(type="hidden", name="name", value=username)
  br
  br
  h3= leaderboard.heading
  table
    thead
      tr
        th name
        th wins
        th losses
        th ties
    tbody
      each user in leaderboard.users
        tr
          td= user.username || "unknown"
          td= user.wins || 0
          td= user.losses || 0
          td= user.ties || 0
  br
  br
  h3= gameMessage
  br
  include gameRooms.pug
  br
  br
  block content

  .container
  .col.form-group.col-sm-12
  form.col-sm-6(action="/lobby/createGameRoom" method="post")
    .col-sm-6
      label.col-form-label Gameroom name:
      input.form-control(type="gameRoomName" name="gameRoomName")
      button.form-control.buttonstyle.whitetext(type="submit") Create Game
  br
  br
  block content

  .container
    .row.form-group.col-sm-12.center
      form.col-sm-6(action="/lobby/logOut" method="post")
          button.form-control.buttonstyle.whitetext(type="submit") Log Out
